* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    height: 100vh;
    background-color: azure;
}

#nav-container {
    
}

#header {
    display: flex;
    justify-content: space-between;
    margin-left: 75px;
    margin-right: 125px;
    z-index: 1000;
}

#header-img {
    height: 200px;
}

#nav-bar {
    display: flex;
    height: 125px;
    align-items: end;
    justify-content: space-between;
    width: 400px;
}

.nav-link {
    text-decoration: none;
    font-size: x-large;
}

.nav-link:visited {

}

